<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>built_in_filters</h1>
            <!---<h2>{{dt}}</h2>
            <h2>{{dt|lower}}</h2>
            <h2>{{dt|upper}}</h2>
            <h2>{{dt|capfirst}}</h2>
            <h2>{{dt|title}}</h2>
            <h2>{{dt|length}}</h2>
            <h2>{{dt|truncatewords:'3'}}</h2>
            <h2>{{dt|truncatechars:'10'}}</h2>
            <h2>{{dt|date:'Y M l'}}</h2> -->

            <h2>I have {{c}} cat{{c|pluralize}}</h2>
            <h2>i have {{c}} mango{{c|pluralize:'es'}}</h2>
            <h2>This {{c}} markers{{c|pluralize:'is,are'}} {{c|pluralize:'is,are'}} mine </h2>

            






    </center>
    
</body>
</html>